<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Propertyapp"
        android:localeConfig="@xml/locale_configs"
        tools:targetApi="31">
        <activity
            android:name=".builder.BuilderInquiriesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".builder.BuilderPropertyAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.BuilderAllPropertyListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.builderloginregister.BuilderProfileFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.builderloginregister.BuilderRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.builderloginregister.BuilderLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".builder.BuilderMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InquiryAnswerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MyInquiryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PropertyDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BuilderDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PropertyListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BuilderListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.IntroductionScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Splashscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginRegister.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DashBoardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loginRegister.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Let AndroidX handle auto-store locales for pre-T devices to hold the user's selected locale -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>